.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bannerWrapper {
  width: 80%;
  display: flex;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.bannerMessage {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0 2rem;
  min-height: 340px;
  justify-content: space-between;
}
.bannerMessage > h1 {
  color: #1a2e35;
  font-size: 3rem;
}
.bannerMessage > p {
  margin-bottom: 3em;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff735c;
  border: #ff735c;
  border-radius: 28px;
  margin: 10px 0;
  padding: 10px 0;
}
.loader > .progress {
  width: 30px !important;
  height: 30px !important;
  color: #fff;
}
.bannerMessage > form > input[type="text"] {
  border: 1.5px solid #ff735c;
  border-radius: 28px;
  padding: 14px 28px;
  width: 100%;
  outline: none;
  color: #1a2e35;
  font-weight: bold;
  font-size: 1rem;
}
.phoneInput {
  border: 1.5px solid #ff735c;
  border-radius: 28px;
  padding: 0 34px;
}
.phoneInput > input {
  padding: 14px;
  outline: none;
  border: 0;
  color: #1a2e35;
  font-weight: bold;
  font-size: 1rem;
}
.bannerMessage > form > button {
  padding: 14px;
  border-radius: 28px;
  outline: none;
  width: 100%;
  margin: 14px 0;
  background: #ff735c;
  border: #ff735c;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}
.bannerMessage > form > button:hover {
  background-color: #e25540;
}

.bannerMessage > form > button:disabled {
  opacity: 0.6;
  cursor: inherit;
}
.bannerImg {
  flex: 1;
}
.bannerImg > img {
  width: 100%;
}
