.root {
  background-color: #1a2e35;
  width: 320px;
  min-height: 100%;
  padding: 1rem;
}

.btnStartChat,
.signout {
  background: #fafafa !important;
  border-radius: 30px !important;
  padding: 14px 16px !important;
  font-family: inherit !important;
  color: #1a2e35 !important;
  font-weight: bold !important;
}
.root > hr {
  height: 2px;
  background-color: #fafafa;
  margin: 1rem 0;
}

.phoneInput {
  border: 2px solid #fafafa;
  border-radius: 30px;
  width: 100%;
  background-color: transparent;
  font-family: inherit;
  padding: 0 24px;
  margin: 12px 0;
}
.phoneInput > input {
  padding: 16px;
  outline: none;
  border: 0;
  color: #1a2e35;
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
  color: #fafafa;
}
.user {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 10px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.user:hover {
  opacity: 0.7;
}
.user > div {
  height: 54px;
  width: 54px;
}
.user > h6 {
  margin-left: 14px;
  font-family: inherit;
  color: #fafafa;
}

/* .signout {
  position: sticky;
  bottom: 0;
} */
